! Damira golden template: ntp (arista_eos)
{% for server in servers %}
ntp server {% if vrf is defined %}vrf {{ vrf }} {% endif %}{{ server }}{% if loop.first %} prefer{% endif %}

{% endfor %}
{% if source_interface is defined %}
ntp local-interface {% if vrf is defined %}vrf {{ vrf }} {% endif %}{{ source_interface }}
{% endif %}
